<%- include('../partials/head.ejs') %>
<header>
 <%- include('../partials/nav.ejs') %> 
</header>
<main>
  
  <div class="whole">
    <%- include('../partials/validationErr.ejs') %>
    <% if (status != false) { %> 
      <div class="status info">
        <%= status %> 
      </div>
     <%}  %> 
  <form action="/home/login" method="post">
    <ul>
      <li>
        <label for="userName">Email or Username</label>
       <input type="text" placeholder="Enter your email or username" name="userName" id="userName" required>
      </li>
       <li>
        <label for="password">Password :</label>
       <input type="password" placeholder="Abc@1" name="password" id="password" required>
      </li>
      <li>
        <button type="submit">Sign In</button>
      </li>
    </ul>
  </form>
  <div class="sign-up"><a href="/sign-up">Don't have an account? Create one now →</a></div>
  </div>
</main>

</body>

</html>